.auth_page{
    width: 100%;
    min-height: 100vh;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth_page form{
    background: #212020ba;
    backface-visibility: visible;
    background-color: transparent;
    max-width: 400px;
    width: 100%;
    border: 2px solid #08c654;
    padding: 50px 25px;
    color: #08c654;
}

.auth_page form .pass{
    position: relative;
}

.auth_page form .pass small{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}
